Samples/05.queue-binding.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Compose": {
        "inputs": {
          "queueMessage": "@triggerBody()",
          "timestamp": "@utcNow()",
          "guid": "@guid()"
        },
        "runAfter": {},
        "type": "Compose"
      },
      "HTTP": {
        "inputs": {
          "body": "@outputs('Compose')",
          "method": "POST",
          "uri": "https://postb.in/1569605592293-1230095291975"
        },
        "runAfter": {
          "Compose": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "EnqueueResponse": {
        "inputs": {
          "content": "@outputs('HTTP')",
          "type": "queue",
          "direction": "out",
          "name": "outputMessage",
          "queueName": "demo-output",
          "connection": "MyStorageConnectionString"
        },
        "runAfter": {
          "HTTP": [
            "Succeeded"
          ]
        },
        "type": "Binding"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {},
    "triggers": {
      "OnAzureQueueMessage": {
        "inputs": {
          "type": "queueTrigger",
          "direction": "in",
          "name": "inputMessage",
          "queueName": "demo-input",
          "connection": "MyStorageConnectionString"
        },
        "type": "Binding"
      }
    }
  }
}